<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" ui-sref="home">Post</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" ui-sref="show">Show</a>
      </li>
    </ul>
  </div>
</nav>
<div ng-repeat="image in images" class="container">
	<div ng-repeat="x in image" >
	<img src="../uploads/{{x}}" style="width:200px;height:200px;float:left;margin:10px;">	
	</div>	
</div>